{% extends "@CybrokapiUser/layout.html.twig" %}

{% block title %} Cybrok API Manager {% endblock %}

{% block body %}
  <body>
    <div id="header" class="jumbotron">
        <h1>Cybrok API Manager</h1>
    </div>
    
    <div class="container-fluid">
        
        <h2>Activation API effectuée!</h2>

        <div class="well">
            <h3>Your Api Key</h3>
            <p id="key">{{ key }}</p>
            <button id="copy" class="btn btn-default">Copy To Clipboard</button>
        </div>

        <a href="{{ path('cybrokapi_user_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    </div>
{% endblock %}
    {% block javascript %}
      <script src="{{ asset('js/copy.js') }}"></script>
    {% endblock %}