{% extends "@CybrokapiUser/layout.html.twig" %}

{% block title %} Cybrok API Manager {% endblock %}

{% block body %}
  <body>
    <div id="header" class="jumbotron">
        <h1>Cybrok API Manager</h1>
    </div>
    
    <div class="container-fluid">

        <h2>Error</h2>
        
        <div class="well">
            User not find
        </div>

        <a href="{{ path('cybrok_api_retrieve') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    </div>
{% endblock %}