{% extends "@CybrokapiUser/layout.html.twig" %}

{% block title %} Cybrok API Manager {% endblock %}

{% block body %}
  <body>
    <div id="header" class="jumbotron">
        <h1>Cybrok API Manager</h1>
    </div>
    
    <div class="container-fluid">
        

        <h2>API Activation</h2>
        <div class="well">
            {{ form(form) }}
        </div>

        <h2>Already active?</h2>
        <div class="well">
            <a href="{{ path('cybrok_api_retrieve') }}" class="btn btn-default">Retrieve Key</a>
        </div>
    </div>
{% endblock %}
