html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
}

body {
    margin-bottom: 8vh;
}

#header {
    text-align: center;
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#key {
    overflow-wrap: break-word;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: absolute;
    bottom: 0;
}

#header, .well, footer {
    width: 100%;
    background-color: #3d1255;
    color: #cccc23;
}

a:not(.btn) {
    display: flex;
    color: #cccc23;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

footer img {
    display: block;
    max-height: 6vh;
    width: auto;
}