<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Cybrok API {% endblock %}</title>

    {% block stylesheet %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}
  </head>
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <footer class="footer">
        <a id="Afb" href="#"><img src="{{ asset('img/fb.png') }}"></a>
        <a id="Atwt" href="#"><img src="{{ asset('img/twitter.png') }}"></a>
      </footer>
    </div>

    {% block javascript %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>